.button__delete
   font-family: sans-serif
   font-size: 1em
   padding: 5px 15px
   border: 1px solid #000000
   border-radius: 10px
   background-color: #fff
   outline: none
   cursor: pointer
   transition: .2s ease box-shadow
   &:hover
      border: 1px solid red
      box-shadow: inset 0px 0px 4px red
      color: red
   &:active
      border: 1px solid red
      box-shadow: inset 0px 0px 7px red
      color: red

.list__item
   font-size: 1.2em
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
